ReservationSystemApp/DataLayer/bin/
ReservationSystemApp/DataLayer/obj/
ReservationSystemApp/DataLayer/.vs/
ReservationSystemApp/ReservationSystemApp/bin/
ReservationSystemApp/ReservationSystemApp/obj/
ReservationSystemApp/.vs/